<a href="https://colab.research.google.com/github/DoHyunChoi/dohyunchoi.github.io/blob/master/Python_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Q-1. 다음 코드의 실행결과는?

a = [[1, 2, 3], [3, 4, 5], [5, 6, 7]]

print(a[1][1:])

[4, 5]

In [0]:
# Q-2. 다음 코드의 실행결과는?

a = ['a', 'b', 'c', 'd', 'e', 'f']

b = a[2:-1]
print(b)

In [0]:
# Q-3. 다음 코드의 실행결과는?

a = ['a', 'b', 'c', 'd', 'e', 'f']

del(a[2])
print(a)

In [0]:
# Q-4. 다음 코드의 실행결과는?

a = [1, 2]
b = a
b[1] = 6

print(a)
print(b)

[1, 6]
[1, 6]

In [0]:
# Q-5. 다음 코드의 실행결과는?

a = [1, 2]   # .......(9000)[1,2].....a:9000
b = a[:]     # .......(9000)[1,2].....a:9000......(9005)[1,2]...b:9005
a[1] = 6

print(a)
print(b)

[1, 6]
[1, 2]

In [0]:
# Q-6. 다음 코드의 실행결과는?

*a,b,c = 1,2,3,4

print(a)
print(b)
print(c)

[1, 2]

In [0]:
# Q-7. 다음 코드의 실행결과는?

*a, _, _ = 1,2,3,4

print(a)
print(_)

[1, 2]
4

In [0]:
 #Q-8. 다음 코드의 실행결과는?


# food = {'짜장면' : 3500, '짬뽕': 4000, '볶음밥':4000, '짬자면':5000, '탕수육':9000} 를
# food = {'짜장면' : 3850, '짬뽕': 4400, '볶음밥':4400, '짬자면':5500, '탕수육':9900} 로

food = {'짜장면' : 3500, '짬뽕': 4000, '볶음밥':4000, '짬자면':5000, '탕수육':9000}

# 여기에 코드를 넣으세요
for key in food:
  food[key] = int(food[key]* 1.1)

print(food)

{'짜장면': 3850, '짬뽕': 4400, '볶음밥': 4400, '짬자면': 5500, '탕수육': 9900}

In [15]:
 #Q-9. 다음 코드의 실행결과는?

food = {'짜장면' : 3500, '짬뽕': 4000, '볶음밥':4000, '짬자면':5000, '탕수육':9000}

# 여기에 코드를 넣으세요
pk1 = food.keys()
pk2 = list(food.keys())
pk3 = list(food.values())

print(pk1)
print(pk2)
print(pk3)

#합계
pk4 = sum(food.values())
print("합계 : ",pk4)

#업데이트
new_food = {'팔보채':15000, '고추잡채':15000}

food.update(new_food)
print(food)

dict_keys(['짜장면', '짬뽕', '볶음밥', '짬자면', '탕수육'])
['짜장면', '짬뽕', '볶음밥', '짬자면', '탕수육']
[3500, 4000, 4000, 5000, 9000]
합계 :  25500
{'짜장면': 3500, '짬뽕': 4000, '볶음밥': 4000, '짬자면': 5000, '탕수육': 9000, '팔보채': 15000, '고추잡채': 15000}

In [16]:
#Q-10. 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라.
#f_keys 를 키(key)로, f_vals 를 값(value)으로 하는 result 이름의 딕셔너리로 저장한다.

f_keys = {'짜장면', '짬뽕', '볶음밥', '탕수육'}
f_vals = {3850, 4400, 4400, 5500, 9900}

#여기에 코드를 넣으세요. f_d 이름으로 딕셔너리를 저장하세요.
f_z = zip(f_keys, f_vals)
print(f_z)
f_d = dict(f_z)
#f_z = dict(zip(f_keys, f_vals))

print(f_d)

<zip object at 0x7f10941f5048>
{'짜장면': 4400, '짬뽕': 3850, '탕수육': 5500, '볶음밥': 9900}